
.client{

    .subhead{
        background-color: rgb(236, 240, 240);
        height: 50px;
        display: flex;
        flex-direction: row;

        h5{
           margin:  15px 91px 10px 55px;
        }
        
    }

button{
    padding: 20px;
    background: crimson;
    color: white;
    outline: none;
    border: none;
}

}