.contenthead{
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid lightgray;
    .BtnSec{
        width: 30%;
        button{
            padding: 10px 20px 10px 20px;
            background-color: crimson;
            color: whitesmoke;
            outline: none;
            border: none;
            margin-right: 5px;
        }
    }
}