.lp-page{

    .section{
        margin-top: 60px;

        
            button{
                padding: 20px;
                background: crimson;
                color: white;
                outline: none;
                border: none;
            }
    }

    
    .lp-resume {
        height: 500px;
        width: 60%;
    }
    
}