.searchbar{
    margin-top: 14px;
    text-align: left;
    color: whitesmoke;

    input{
        height: 25px;
        width: 25%;
        outline: none;
    }

    button{
        height: 30px;
        width: 10%;
        background: crimson;
        color: white;
        outline: none;
        border: none;
    }
}